canvas{
    height:350px !important;
}

.canvasjs-chart-credit {
    display: none !important;
}

.canvasjs-chart-toolbar button {
    display: none;
} 

#canvasjs-react-chart-container-0 {
    height: 0 !important;
}

#canvasjs-react-chart-container-1 {
    height: 350px !important;
}

/* .canvasjs-chart-canvas {
    background-color: #f0f0f0;
} */

