#canvasjs-react-chart-container-3, #canvasjs-react-chart-container-2, #canvasjs-react-chart-container-1 {
    height: 350px !important;
}

.chart-section {
    width: 100%;
    height: 410px;
    background-color: #f0f0f0;
}

.electric-container .btn-yourbill {
    display: flex;
    justify-content: center;
}

.electric-container .signin button.login {
    background-color: #d07813;
}