.Footer{
    padding: 0 10px;
    font-size: 9px;
    text-align: center;
    margin: 40px 0 10px 0;
}

.copy-right p{
    color:#767f85;
    margin-bottom: 0;
}

.copy-right span{
    color: #017278;
}