.gasbill-container .back .a:hover, .gasbill-container .back .a {
    text-decoration: none;
    color: #ffffff;
} 

.up-content {
    width: 100%;
}

.gasbill-container .chart-section {
    width: 100%;
    height: 380px;
}

.chart-section h3 {
    margin: 0;
    font-size: 18px;
    color: #767f85;
    text-align: center;
    background-color: #eff1f2;
    padding: 0 10px 10px;
}

.chart-content {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
}

.gasbill-container .signin button.login {
    background-color: #100b07;
}
