.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 5px;
    background-color: #ffffff;
}

.Header ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.Header ul li {
    list-style: none;
}

.Header .nw-p1 {
    color: #362e67;
    font-weight: 500;
}

.Header .nw-p {
    color: #767f85;
}

.ovp-container .nw-p {
    margin-left: 40px;
}