.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 5px;
}

.Header ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.Header ul li {
    list-style: none;
}

.nw-p {
    color: #151515;
}

.nw-p1 a, .nw-p1 a:hover {
    color:#007bff ;
}

.ovp-container .nw-p {
    margin-left: 40px;
}