.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(27, 113, 126, 0.08), rgba(44, 42, 91, 0.66)), url("../assets/pb.jpg");
    background-position: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.hero-container .mark {
    background: transparent;
    padding: 0;
    margin-left: -1px;
    margin-right: 5px;
}

.pay-bill {
    text-align: center;
}

.hero-container .icons {
    display: flex;
    justify-content: space-evenly;
}

.hero-container .icons .drop, .hero-container .icons .bulb, .hero-container .icons .clock {
    font-size: 42px;
    color: #ededed;
    padding: 0;
}

.content h1 {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
    color: #1b717e;
    margin-top: -8px;
}

b {
    color: #362e67;
    font-weight: 600;
}

.content p {
    margin-top: 0px;
    color: #ededed;
    font-size: 15px;
    font-weight: 400;
}

.pb-btn {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.hero-container .login-btn, .hero-container .register {
    position: relative;
    display: inline-block;
    padding: 8px 45px;
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;
    transition: .3s;
    text-align: center;
    border: 1.3px solid;
    border-radius: 100px;
    outline: none;
    font-weight: 500;
    background-color: transparent;
}

.hero-container .register {
    margin-top: 10px;
}

.hero-container .login-btn:hover, .hero-container .register:hover {
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.6);
    transform: translate3d(0,-3px,0);
}

.hero-container .login-btn:hover {
    background-color: #1b717e;
    border: 1.3px solid #1b717e;
}

.hero-container .register:hover, .hero-container .mark:hover {
    background-color: #362e67;
    border: 1.3px solid #362e67;
}



