.ovp-paybill {
    margin-left: 30px;
}

.owner-details {
    display: flex;
    justify-content: center;
    padding: 25px 18px 25px 14px;
}

.own-img {
    width: 80px;
    height: 80px;
    background-image: url(../assets/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border: 2px solid rgb(116, 113, 113);
    border-radius: 100px;
}

.own-content {
    margin: 17px 0;
    line-height: 13px;
    margin-left: 12px;
}

.own-content h1 {
    font-weight: 400;
    font-size: 22px;
    color: #f71e3b;
    margin-bottom: 10px;
}

.own-content h5 {
    margin-bottom: 0;
    color: #051727;
}

.own-content h5, .own-content p {
    font-weight: bold;
    font-size: 11px;
}

.own-content p {
    color: #a4a4a4;
}

.ovp-item, .drop, .bulb, .clock {
    margin: 0;
    padding: 0;
}

.ovp-item {
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop, .bulb, .clock {
    font-size: 48px;
}

.drop, .bulb {
    padding: 0 20px 0 15px;
}

.clock {
    padding: 0px 15px 0 7px;
}

.icons {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.ovp-item-content p {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 100;
}

.bill {
    text-align: center;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bill-cash {
    font-size: 10px;
}

.bill-cash b {
    color: #ffffff;
}

.bill-cash p {
    margin: 0;
}

.bill-cash span {
    font-weight: 100;
}

.click-next {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.value {
    line-height: 0.9;
}

.bill .bill-p {
    margin-bottom: 5px;
    margin-top: -5px;
}

.new-icons {
    width: 80%;
    display: flex;
    justify-content: start;
}
 
.new-bill {
    justify-content: flex-end;
    width: 30px;
    padding-top: 6px;
}

.user {
    font-size: 15px;
}
 
.ovp-item-contents p {
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 900;
}

.new-bill .click-next {
    border: 1px solid #a4a4a4;
}

.OverViewPage .footer {
    padding: 50px 0 10px;
    font-size: 9px;
    text-align: center;
}

.ovp-items .ovp-contact {
    padding: 10px 0;
}

.ovp-contact .ovp-item {
    justify-content: center;
}








