.pro-content h2 {
    color: #081c2d;
    font-weight: 500;
    font-size: 48px;
    margin-top: 0;
    line-height: 48px;
    margin-bottom: 18px;
}

.pro-content h3 {
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 16px;
}

.pro-content h3, p {
    color: #767f85;
}

.pro-content p {
    margin: 0;
    font-size: 12px;
    line-height: 11px;
}

.pro-details h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    font-weight: 100;
    font-size: 45px;
}

.waterbill-container .pro-details {
    background-color: rgba(11, 59, 66, 1);
}

.electric-container .pro-details {
    background-color: rgba(208, 120, 19, 1);
}

.gasbill-container .pro-details {
    background-color: rgba(16, 11, 7, 1);
}

.pro-details span {
    margin-right: 10px;
    font-size: 50px;
    color: #ffffff;
}

.pro-content {
    padding: 10px 0;
}

.pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}