.waterbill-container, .gasbill-container, .electric-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eff1f2;
    padding-bottom: 10px;
}

.waterbill-container .signin button.login, .electric-container .signin button.login, 
.gasbill-container .signin button.login, .pyb-container .signin button.login {
    padding: 12px 50px;
}

.waterbill-container .signin, .electric-container .signin, .gasbill-container .signin {
    padding: 10px;
}

.waterbill-container .signin button.login {
    background-color: #0b3b42;
}

.btn-yourbill {
    display: flex;
    justify-content: center;
}

